<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-child nav-icon"></i>
      <p>
        {{ _('BIM') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'bim:project' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Project') }}</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'bim:budget' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Budget') }}</p>
        </a>
      </li>
    </ul>
  </li>