{% extends 'base/dashboard.html' %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'plugins/socketio/socket.io.slim.js' %}"></script>
{% endblock %}
{% block content %}
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">

            <!-- <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="{% static '/default.png' %}" class="img-circle"  alt="user"> </div>
                <div class="chat_ib">
                  <h5>Marlon <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>

            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="{% static '/default.png' %}" class="img-circle"  alt="user"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" disabled/>
              <button class="msg_send_btn" type="button"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>

<style>
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>
{% endblock %}

{% block scripts %}
<script>
  var socket = io('http://0.0.0.0:5000');
  // Capturando los mensajes del cliente
  var client_id = undefined;
  function open_chatbox() {
    var sid = $(this).data('client-id');
    $('.chat_people').removeClass('active_chat');
    $(this).addClass('active_chat');
    client_id = sid;
    $.ajax({
      url: '/chat/get_history/' + sid
    }).done(function (history) {
      $('.msg_history').html('');
      for (var i = 0; i < history.length; i++) {
        var msg = history[i];
        if (msg.response) {
          respond(msg);
        } else {
          get_message(msg);
        }
      }
      $('.write_msg').removeAttr('disabled');
    });
  }
  socket.on('master', function (data) {
    get_message(data.message);
    // client_id = data.sid;
    var chat_people = $(`.inbox_chat [data-client-id="${data.sid}"]`);
    if (chat_people.length == 0) {
      $.ajax({
        url: '/chat/get_client_name/' + client_id,
      }).done(function (client) {
        $('.inbox_chat').prepend(`<div class="chat_people" data-client-id="${data.sid}">
            <div class="chat_img"> <img src="{% static '/default.png' %}" class="img-circle"  alt="user"> </div>
            <div class="chat_ib">
              <h5>${client.name} <span class="chat_date">Dec 25</span></h5>
              <p>${data.message}.</p>
            </div>
          </div>
        </div>`);
        $('.chat_people').click(open_chatbox);
      });
    } else {
      chat_people.find('p').text(data.message);
    }
  });
  // Actualiza el chat con el mensaje del cliente
  function get_message(msg) {
    $('.msg_history').append(`<div class="incoming_msg">
      <div class="incoming_msg_img"><img src="{% static '/default.png' %}" class="img-circle"/></div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p>${msg.message}</p>
          <span class="time_date">${msg.date}</span></div>
      </div>
    </div>`).animate({scrollTop: $('.msg_history').height()});
  }
  // Actualiza el chat con la respuesta del master
  function respond(msg) {
    $('.msg_history').append(`<div class="outgoing_msg">
      <div class="sent_msg">
        <p>${msg.message}</p>
        <span class="time_date">${msg.date}</span>
      </div>
    </div>`).animate({scrollTop: $('.msg_history').height()});
  }
  // Capturando los eventos del master en la caja del chat
  $('.write_msg').on('keyup', function (e) {
    if (e.keyCode === 13) {
      var message = $(this).val();
      $(this).val('');
      var now = moment().format('hh:mm:ss a');
      respond({message: message, date: now});
      socket.emit(`chatr`, {sid: client_id, message: message});
    }
  });
  $('.msg_send_btn').click(function () {
    var message = $('.write_msg').val();
    $('.write_msg').val('');
    respond(message);
  });
</script>
{% endblock %}