[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pep8 = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
isort = "*"

[packages]
bootstrap4 = "==0.1.0"
django-appconf = "==1.0.3"
django-countries = "*"
django-cruds-adminlte = "==0.0.16"
django-image-cropping = "==1.2.0"
django-userforeignkey = "==0.3.0"
djangoajax = "==3.1"
djangorestframework = "*"
easy-thumbnails = "==2.6"
html5lib = "==1.0.1"
psycopg2-binary = "*"
pytz = "*"
reportlab = "*"
six = "==1.12.0"
sqlparse = "==0.3.0"
webencodings = "==0.5.1"
xhtml2pdf = "==0.2.3"
astroid = "*"
django-autocomplete-light = "==3.4.1"
django-bootstrap4 = "*"
lazy-object-proxy = "*"
mccabe = "==0.6.1"
typed-ast = "==1.4.0"
wrapt = "==1.11.2"
Django = "*"
Pillow = "*"
PyPDF2 = "==1.26.0"
django-settings-export = "*"
django-taggit = "*"
django-bootstrap-datepicker-plus = "*"
django-modeltranslation = "*"
django-rosetta = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
