<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-file nav-icon"></i>
      <p>
        {{ _('Purchase') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
          <a href="{% url 'PyPurchaseOrder:list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ _('Quotation') }}</p>
          </a>
        </li>

      <li class="nav-item">
        <a href="{% url 'PyPartner:list' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Clients') }}</p>
        </a>
      </li>
      <li class="nav-item">
          <a href="{% url 'PyProduct:list' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>{{ _('Products') }}</p>
          </a>
        </li>
    </ul>
  </li>
