<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="fa fa-comments nav-icon"></i>
        <p>
            {{ _('Chat') }}
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'base:chat-home' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Chat</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'base:triggers' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Triggers</p>
            </a>
        </li>
    </ul>
</li>