{% load static %}
{% include "webodoobim/header.html" %}
    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-7">

                        <h1> About Us </h1>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="#"> Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                                <li> About Us </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--tb about cmpny wrapper start-->
    <div class="tb_abt_cmpny_wrapper tb_bottompadder80 tb_toppadder100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul id="tabOne" class="nav nav-tabs tab_abt_tb">
                            <li class="active"><a href="#contentOne-1" data-toggle="tab">2012</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-2" data-toggle="tab">2013</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-3" data-toggle="tab">2014</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-4" data-toggle="tab">2015</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-5" data-toggle="tab">2016</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-6" data-toggle="tab">2017</a><span class="small_dot1"></span>
                            </li>
                            <li><a href="#contentOne-7" data-toggle="tab">2018</a><span class="small_dot1"></span>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="contentOne-1">

                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2012</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>
                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contentOne-2">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2013</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>

                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="contentOne-3">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2014</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>

                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contentOne-4">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2015</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>
                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contentOne-5">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2016</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>
                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contentOne-6">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2017</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>
                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contentOne-7">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                                        <div class="abt_txt_box">
                                            <div class="tb_left_heading_wraper">
                                                <h4>Welcome to company project  </h4>
                                                <h3>our <span> company 2018</span> </h3>
                                                <h2><span></span></h2>
                                            </div>
                                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in, scelerisque sollicitudin.</p>
                                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornare ex neque.</p>

                                            <div class="abt_list_wrapper">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                                </ul>
                                            </div>
                                            <h1>500+ <span>projects done</span></h1>
                                            <div class="abt_btn_wrapper">
                                                <a href="#">
                                                    <div class="blob-btn abttab_btn">
                                                        view all project
                                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        <span class="blob-btn__blob"></span>
                                                        </span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="blog_box_wrapper cmpny_box_wrapper">
                                        <div class="blog_img_wraper">
                                            <img src="images/abt_cmpny.jpg" alt="About" class="img-responsive">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--tb about cmpny wrapper end-->
    <!-- tb vedio wrapper start -->
    <div class="tb_botm_png_img_wrapper">
        <img src="images/btm_slide.png" alt="shape">
    </div>
    <div class="vedio_Wrapper jarallax">
        <div class="service_overlay"></div>
		<div class="abt_overlay_left_img">
			<img src="images/team_ruler.png" alt="img">
		</div>
		<div class="abt_overlay_right_img">
			<img src="images/team_ruler2.png" alt="img">
		</div>
        <div class="container">
            <div class="row">
                <div class="tb_vedio_cntnt">
                    <a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title'><img src="images/play.png" alt="play_icon"></a>

                    <h1>Building the New World</h1>
                    <h2>We have Qualified Engineers and Builders</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- tb vedio wrapper end -->
    <!-- tb work wrapper start -->
    <div class="tb_work_wrapper tb_toppadder100 tb_bottompadder100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="tb_work_txt_wrapper tb_work_cmpny_wrapper">
                        <div class="abt_txt_box">
                            <div class="tb_left_heading_wraper">
                                <h4>Welcome to Constration work </h4>
                                <h3>last six <span> year statistics</span> </h3>
                                <h2><span></span></h2>
                            </div>

                            <p>Et magnis dis parturient montes, nascetur ridiculus mus. In nec est at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia ultricies. Duis ornaret at nisl malesuada pariatur. Excepteur sint occaecat cupidatat non proident, ex neque.</p>

                            <div class="abt_list_wrapper">
                                <ul>
                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>Magnis dis parturient montes, nascetur ridiculus mus.</a></li>
                                    <li><a href="#"><i class="fa fa-arrow-circle-right"></i>There are many variations of passages of Lorem.</a></li>

                                </ul>
                            </div>

                            <div class="abt_btn_wrapper">
                                <a href="#">
                                    <div class="blob-btn abt_btn">
                                        read more
                                        <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        <span class="blob-btn__blob"></span>
                                        </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sales-chart">
                        <canvas id="team-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tb work wrapper end -->
    <!-- tb counter wrapper start-->
    <div class="counter_section counter_wrapper">
        <section class="counter-section section-padding jarallax">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon tb_icon_2">
                                <div class="icon"> <a href=""><i class="fa fa-user"></i></a>
                                </div>
                            </div>
                            <div class="count-description tb_abt_count_txt"><span class="timer">230</span>+
                                <h5 class="con1 con_1">Clients Services</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon tb_icon_2">
                                <div class="icon"> <a href=""><i class="flaticon-tools"></i></a>
                                </div>
                            </div>
                            <div class="count-description tb_abt_count_txt"> <span class="timer">89</span>+
                                <h5 class="con2 con_1">machinery</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon tb_icon_2">
                                <div class="icon"> <a href=""><i class="flaticon-graduation-cap"></i></a>
                                </div>
                            </div>
                            <div class="count-description tb_abt_count_txt"> <span class="timer">60</span>+
                                <h5 class="con2 con_1">qualified staff</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="counter_cntnt_box">
                            <div class="tb_icon tb_icon_2">
                                <div class="icon"> <a href=""><i class="flaticon-bar-chart"></i></a>
                                </div>
                            </div>
                            <div class="count-description tb_abt_count_txt"> <span class="timer">257</span>+
                                <h5 class="con4 con_1">projects done</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- tb counter wrapper end-->
    <!-- tb team wrapper end -->
    <div class="team_wrapper jarallax">
        <div class="team_overlay"></div>
		<div class="team_overlay_left_img">
			<img src="images/team_ruler.png" alt="img">
		</div>
		<div class="team_overlay_right_img">
			<img src="images/team_ruler2.png" alt="img">
		</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                    <div class="tb_left_heading_wraper tb_center_dark_heading tb_bottompadder50">
                        <h4>Powerful Knowledge & Skills</h4>
                        <h3>team <span> members </span> </h3>
                        <h2><span></span></h2>
                    </div>
                </div>

                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="team_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="team_slider_cntnt">
                                    <div class="team_wrapper_overlay">
                                        <figure>
                                            <img src="images/team_1.jpg" alt="service">
                                        </figure>

                                    </div>

                                    <div class="team_slider_btm_info">
                                        <h4><a href="#">robin deo</a></h4>
                                        <p> (Cheaf & Founder) </p>
                                    </div>
                                    <div class="team_slider_btm_hover">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team_slider_cntnt">
                                    <div class="team_wrapper_overlay">
                                        <figure>
                                            <img src="images/team_2.jpg" alt="service">
                                        </figure>

                                    </div>

                                    <div class="team_slider_btm_info">
                                        <h4><a href="#">juli marine </a></h4>
                                        <p>(Accounts)</p>

                                    </div>
                                    <div class="team_slider_btm_hover">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="team_slider_cntnt">
                                    <div class="team_wrapper_overlay">
                                        <figure>
                                            <img src="images/team_3.jpg" alt="service">
                                        </figure>

                                    </div>

                                    <div class="team_slider_btm_info">
                                        <h4><a href="#">albert pinto</a></h4>
                                        <p>(Sales and Service)</p>

                                    </div>
                                    <div class="team_slider_btm_hover">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="team_slider_cntnt">
                                    <div class="team_wrapper_overlay">
                                        <figure>
                                            <img src="images/team_4.jpg" alt="service">
                                        </figure>

                                    </div>

                                    <div class="team_slider_btm_info">
                                        <h4><a href="#">joahn deo </a></h4>
                                        <p>(team head)</p>
                                    </div>
                                    <div class="team_slider_btm_hover">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="team_slider_cntnt">
                                    <div class="team_wrapper_overlay">
                                        <figure>
                                            <img src="images/team_2.jpg" alt="service">
                                        </figure>

                                    </div>

                                    <div class="team_slider_btm_info">
                                        <h4><a href="#">albert smith</a></h4>
                                        <p>(chief head)</p>
                                    </div>
                                    <div class="team_slider_btm_hover">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tb team wrapper end-->
    <!--tb newsletter wrapper start-->
    <div class="tb_news_letter_wrapper">
        <div class="container">
            <div class="tb_nl_heading_wrapper">
                <i class="fa fa-envelope"></i>
                <h2> sign up for <span> Newsletter </span></h2>

            </div>

            <div class="tb_nl_form_wrapper">
                <input type="text" placeholder="Email Here..">

                <div class="letter_btn_wrapper">
                    <a href="#">
                        <div class="blob-btn letter_btn">
                            subscribe
                            <span class="blob-btn__inner">
									   <span class="blob-btn__blobs">
									   <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            </span>
                            </span>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
    <!--tb newsletter wrapper end-->
    <!--tb estimate form wrapper start-->
    <div class="tb_estimate_form_wrapper tb_toppadder90 tb_bottompadder90">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <form>
                        <div class="tb_es_main_section">
                            <div class="tb_es_input_width">
                                <div class="contect_form1">
                                    <input type="text" name="full_name" placeholder="Your Name" class="require">
                                </div>
                            </div>
                            <div class="tb_es_input_width">
                                <div class="contect_form1">
                                    <input type="email" name="email" placeholder="Your Email" class="require" data-valid="email" data-error="Email should be valid.">
                                </div>
                            </div>
                            <div class="tb_es_input_width">
                                <div class="contect_form1">
                                    <input type="text" name="phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="tb_es_input_width_full">
                                <div class="contect_form4">
                                    <textarea rows="6" name="message" placeholder="Your Message" class="require"></textarea>
                                </div>
                            </div>

                            <div class="tb_es_btn_div">

                                <div class="response"></div>
                                <div class="tb_es_btn_wrapper tb_toppadder20">
                                    <button type="button" class="submitForm">send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="tb_work_txt_wrapper">
                        <div class="abt_txt_box">
                            <div class="tb_left_heading_wraper">
                                <h4>Fill the Enquiry Form Here </h4>
                                <h3>send a free <span> estimate </span> </h3>
                                <h2><span></span></h2>
                            </div>
                            <p>Cras sed gravida ex. Praesent semper consequat nisl, id mollis mi semper ac. derit in voluptate velit esse cillum doore eu fgiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget gravida lectus. Vivamus arcu ante, varius a sem in,ulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt eget scelerisque sollicitudin.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--tb estimate form wrapper end-->
    <!-- tb partner wrapper start -->
    <div class="tb_partner_wrapper tb_bottompadder90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="tb_work_txt_wrapper">
                        <div class="abt_txt_box">
                            <div class="tb_left_heading_wraper">
                                <h4>Our Clients</h4>
                                <h3> work <span> with us </span> </h3>
                                <h2><span></span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="partner_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="gc_prt1_img_wrapper">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_4.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt1_img_wrapper hidden-xs">
                                    <img src="images/pt_6.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper hidden-xs">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper hidden-xs">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="gc_prt1_img_wrapper">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_4.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt1_img_wrapper hidden-xs">
                                    <img src="images/pt_6.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper hidden-xs">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper hidden-xs">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="gc_prt1_img_wrapper">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_4.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt1_img_wrapper hidden-xs">
                                    <img src="images/pt_6.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt2_img_wrapper hidden-xs">
                                    <img src="images/pt_2.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt3_img_wrapper hidden-xs">
                                    <img src="images/pt_3.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt4_img_wrapper hidden-xs">
                                    <img src="images/pt_5.png" alt="partner_img" />
                                </div>
                                <div class="gc_prt5_img_wrapper hidden-sm hidden-xs">
                                    <img src="images/pt_1.png" alt="partner_img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tb partner wrapper end -->
    <!-- Tweet Feed Wrapper Start -->
    <div class="twiter_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="tc_twtfd_wrapper">
                    <div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel">
                        <div class="row">
                            <div class="col-md-12 hidden-xs">
                                <span data-slide="next" class="btn-vertical-slider fa fa-angle-up tc_up_btn"></span>
                            </div>
                        </div>
                        <br>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-1 col-md-1">
                                        <div class="tc_twitter_img_wrapper">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-9">
                                        <div class="twiter_cntnt">
                                            <p>@webstrot Font Awesome is always getting a little awesome-er. So here's what's new in the latest version
                                                <br> ideas for new features? Help contribute.</p>
                                            <span class="tc_date_wrapper">29 JUNE 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-1 col-md-1">
                                        <div class="tc_twitter_img_wrapper">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-9">
                                        <div class="twiter_cntnt">
                                            <p>@webstrot Font Awesome is always getting a little awesome-er. So here's what's new in the latest version
                                                <br> ideas for new features? Help contribute.</p>
                                            <span class="tc_date_wrapper">29 JUNE 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs">
                                <span data-slide="prev" class="btn-vertical-slider fa fa-angle-down tc_down_btn"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12 visible-xs">
                                <span data-slide="next" class="btn-vertical-slider fa fa-angle-right tc_up_btn"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12 visible-xs">
                                <span data-slide="prev" class="btn-vertical-slider fa fa-angle-left tc_down_btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tweet Feed Wrapper End -->
   {% include "webodoobim/footer.html" %}