{% load static %}
{% include "webodoobim/header.html" %}

    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-7">

                        <h1> Blog</h1>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'webodoobim:index' %}"> Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                                <li> Blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!-- blog_section start -->
    <div class="tb_blog_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="blog_wrapper_catt">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_box_wrapper blog_box_padding">
                                    <div class="blog_img_wraper blog_img_wraper_2">

                                        <img src="{% static 'images/bc_img_3.jpg' %}" alt="img">

                                    </div>
                                    <div class="blog_icon_overlay">
                                        <ul>
                                            <li> 10
                                                <span> JUNE</span>

                                            </li>
                                            <li> 02
                                                <span> COM.</span>

                                            </li>
                                            <li>
                                                <img class="img-responsive" src="{% static 'images/blog_png_1.png' %}" alt="img">
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="blog_btm_cntnt">
                                        <h1>Sample Blog Post Here</h1>
                                        <p class="tb_toppadder10">Integer dignissim egestas est, id tristique eros pharetra sit amet. Duis et ipsum pellentesque, porta ante.</p>
                                        <a href="#" class="tb_toppadder20">read more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_box_wrapper blog_box_padding  blog_cat_slider_wrapper tb_toppadder60">
                                    <div class="blog_img_wraper blog_img_wraper_2">

                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <img src="{% static 'images/bc_img_2.jpg' %}" alt="blog_img">
                                            </div>
                                            <div class="item">
                                                <img src="{% static 'images/bc_img_1.jpg' %}" alt="blog_img">
                                            </div>
                                            <div class="item">
                                                <img src="{% static 'images/bc_img_3.jpg' %}" alt="blog_img">
                                            </div>

                                        </div>
                                        <div class="blog_icon_overlay">
                                            <ul>
                                                <li> 10
                                                    <span> JUNE</span>

                                                </li>
                                                <li> 02
                                                    <span> COM.</span>

                                                </li>
                                                <li>
                                                    <img class="img-responsive" src="{% static 'images/blog_png_1.png' %}" alt="img">
                                                </li>

                                            </ul>
                                        </div>

                                    </div>

                                    <div class="blog_btm_cntnt">
                                        <h1>Sample Blog Post Here</h1>
                                        <p class="tb_toppadder10">Integer dignissim egestas est, id tristique eros pharetra sit amet. Duis et ipsum pellentesque, porta ante.</p>
                                        <a href="#" class="tb_toppadder20">read more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="blog_box_wrapper blog_box_padding tb_toppadder60">
                                    <div class="blog_img_wraper_2">
                                        <div class="blog_index_img_wrapper">
                                            <iframe src="https://www.youtube.com/embed/oVvRym5bOPk"></iframe>
                                        </div>

                                    </div>
                                    <div class="blog_btm_cntnt">
                                        <h1>Sample Blog Post Here</h1>
                                        <p class="tb_toppadder10">Integer dignissim egestas est, id tristique eros pharetra sit amet. Duis et ipsum pellentesque, porta ante.</p>
                                        <a href="#" class="tb_toppadder20">read more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog_single_btm_t">
                                <div class="blog_box_wrapper blog_box_padding">
                                    <div class="blog_img_wraper blog_img_wraper_2">

                                        <img src="{% static 'images/bc_img_1.jpg' %}" alt="img">

                                    </div>
                                    <div class="blog_icon_overlay">
                                        <ul>
                                            <li> 10
                                                <span> JUNE</span>

                                            </li>
                                            <li> 02
                                                <span> COM.</span>

                                            </li>
                                            <li>
                                                <img class="img-responsive" src="{% static 'images/blog_png_1.png' %}" alt="img">
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="blog_btm_cntnt">
                                        <h1>Sample Blog Post Here</h1>
                                        <p class="tb_toppadder10">Integer dignissim egestas est, id tristique eros pharetra sit amet. Duis et ipsum pellentesque, porta ante.</p>
                                        <a href="#" class="tb_toppadder20">read more</a>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <!-- blog_pagination_section start -->
                                <div class="blog_pagination_section blog_page_category">
                                    <ul>
                                        <li>
                                            <a href="#" class="prev"> prev</a>
                                        </li>
                                        <li><a href="#">01</a>
                                        </li>
                                        <li class="active"><a href="#">02</a>
                                        </li>
                                        <li><a href="#">...</a>
                                        </li>
                                        <li><a href="#">09</a>
                                        </li>
                                        <li><a href="#">10</a>
                                        </li>
                                        <li><a href="#" class="next">next</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- blog_pagination_section end -->
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="sidebar_widget">
                        <h4> search  <span> here </span> </h4>
                        <form class="search_form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search here">
                            </div>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="sidebar_widget">
                        <h4> blog  <span> categories </span> </h4>

                        <div class="archives_wrapper">
                            <ul>
                                <li>
                                    <a href="#">
                                     architecture<span>(02)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                     consulting<span>(25)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                     house 
                                        <span>(35)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                   interior <span>(43)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Today News<span>(12)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                   renovation<span>(22)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                  transporting<span>(09)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <h4> latest  <span> news </span> </h4>
                        <div class="latest_post_wrapper">
                            <div class="blog_wrapper1">
                                <div class="sc_blog_image">
                                    <img src="images/bc_blog_1.jpg" class="img-responsive" alt="blog_img1" />
                                </div>
                                <div class="sc_blog_text">
                                    <h5><a href="#">Lorem  sepum  the menus view.</a></h5>
                                    <div class="sc_blog_date">June 28, 2018</div>
                                </div>
                            </div>
                            <div class="blog_wrapper2">
                                <div class="sc_blog_image">
                                    <img src="images/bc_blog_2.jpg" class="img-responsive" alt="blog_img1" />
                                </div>
                                <div class="sc_blog_text">
                                    <h5><a href="#">Lorem  sepum  the menus view.</a></h5>
                                    <div class="sc_blog_date">June 28, 2018</div>
                                </div>
                            </div>
                            <div class="blog_wrapper3">
                                <div class="sc_blog_image">
                                    <img src="images/bc_blog_3.jpg" class="img-responsive" alt="blog_img1" />
                                </div>
                                <div class="sc_blog_text">
                                    <h5><a href="#">Lorem  sepum  the menus view.</a></h5>
                                    <div class="sc_blog_date">June 28, 2018</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <div class="video_wrapper">
                            <img src="images/bc_vedio.jpg" alt="blog_img1" />
                            <a class="test-popup-link button" rel='external' href='https://www.youtube.com/embed/ryzOXAO0Ss0' title='title'><img src="images/vedio_icon.png" alt="play_icon"></a>
                        </div>
                        <p class="para">Proin gravida nibh vel velit auctor uet. Aenean sollicitudin, lorem quis.</p>
                        <div class="archives_wrapper">
                            <ul>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> +1 889 554 224

                                </li>
                                <li class="icon_ebsite">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="#">
                                    build@example.com
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-location-arrow"></i>
                                    <a href="#">
                                Timposn, Suite 247 USA, 222
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar_widget">
                        <h4> tags  <span> cloud </span> </h4>

                        <div class="gc_blog_cloud_side_menu">
                            <ul>
                                <li><a href="#">java srcipt</a>
                                </li>
                                <li><a href="#">Html</a>
                                </li>
                                <li><a href="#">dmax</a>
                                </li>
                                <li><a href="#">money</a>
                                </li>
                                <li><a href="#">plumber</a>
                                </li>
                                <li><a href="#">insta</a>
                                </li>
                                <li><a href="#">jquery</a>
                                </li>
                                <li><a href="#">Money</a>
                                </li>
                                <li><a href="#">update</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog  section end-->

    <!-- Tweet Feed Wrapper Start -->
    <div class="twiter_main_wrapper twiter_background_wrapper">
        <div class="container">
            <div class="row">
                <div class="tc_twtfd_wrapper">
                    <div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel">
                        <div class="row">
                            <div class="col-md-12 hidden-xs">
                                <span data-slide="next" class="btn-vertical-slider fa fa-angle-up tc_up_btn"></span>
                            </div>
                        </div>
                        <br>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-1 col-md-1">
                                        <div class="tc_twitter_img_wrapper">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-9">
                                        <div class="twiter_cntnt">
                                            <p>@webstrot Font Awesome is always getting a little awesome-er. So here's what's new in the latest version
                                                <br> ideas for new features? Help contribute.</p>
                                            <span class="tc_date_wrapper">29 JUNE 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-1 col-md-1">
                                        <div class="tc_twitter_img_wrapper">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9 col-md-9">
                                        <div class="twiter_cntnt">
                                            <p>@webstrot Font Awesome is always getting a little awesome-er. So here's what's new in the latest version
                                                <br> ideas for new features? Help contribute.</p>
                                            <span class="tc_date_wrapper">29 JUNE 2018</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs">
                                <span data-slide="prev" class="btn-vertical-slider fa fa-angle-down tc_down_btn"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12 visible-xs">
                                <span data-slide="next" class="btn-vertical-slider fa fa-angle-right tc_up_btn"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12 visible-xs">
                                <span data-slide="prev" class="btn-vertical-slider fa fa-angle-left tc_down_btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "webodoobim/footer.html" %}