{% load static %}
{% include "webodoobim/header.html" %}
  <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_title_overlay"></div>
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-7">

                        <h1> Servicios </h1>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-5">
                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li> <a href="{% url 'webodoobim:index' %}"> Inicio </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                                <li> Servicios </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->

    <!--tb quality service wrapper start-->
    <div style="margin-bottom: 100px;" class="best_Service_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                    <div class="tb_left_heading_wraper tb_center_dark_heading  tb_white_heding tb_bottompadder30">
                        <h4>Mejores servicios</h4>
                        <h3>Nuestros  <span> Servicios </span> </h3>
                        <h2><span></span></h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-roll"></i>
                            </div>
                            <h3><a href="#">Design Renovation</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-tools"></i>
                            </div>
                            <h3><a href="#">Design and Build</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-open-wrench-tool-silhouette"></i>
                            </div>
                            <h3><a href="#">Program Management</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-bar-chart"></i>
                            </div>
                            <h3><a href="#">Architecture & build</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-delivery-truck"></i>
                            </div>
                            <h3><a href="#">Transporting</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="jp_top_jobs_category_wrapper tb_quality_servc_wraper">
                        <div class="jp_top_jobs_category">
                            <div class="jp_top_category_icon">
                                <i class="flaticon-next"></i>
                            </div>
                            <h3><a href="#">General construction</a></h3>
                            <p>It is a long established fact that a reader will be distracted by the.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "webodoobim/footer.html" %}