<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-folder nav-icon"></i>
      <p>
        {{ _('Project') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'project:task' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Task') }}</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'project:project' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Project') }}</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'project:bug' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Bugs') }}</p>
        </a>
      </li>
    </ul>
  </li>