body{
    background-color:#636363;
}

.topbar{
    margin-top : 45px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.sql{
   padding-left: 0px;
   padding-right: 0px;

   border-left-style: solid;
   border-left-width: 5px;
   border-left-right: 5px;
   border-color: #636363;
}

.sql-inter{
        margin-top:10px;
        background-color:#ECF0F1;
        min-height: 850px;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }

.sql-inter-sup{
        padding : 10px;
      }

.sql-inter-dow{
        padding : 10px;
      }

.sql-inter-dow{
    min-height: 290px;

}

.white-area{
        min-height: 290px;
        background-color:#fff;
        width: 100%;
        padding: 5px;
        text-align: right !important;
      }

.white-area p{
        margin-bottom: 0rem;
      }


.product{
            width: 150px;
            height: 150px;
            float:left;
            margin : 3px;
            background-color:#888;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 4px 4px -2px rgba(0,0,0,0);
           box-shadow: 0px 10px 13px -7px #000000, 5px 4px 4px -2px rgba(0,0,0,0);
      }

.product: hover{

        }

.product img{
            width: 100%;
            height: auto;
}


 .product .text-bot      {
			position: relative;
			bottom:25px;
			color:#fff;
			background-color:#000;
			padding:2px 10px;
			opacity:0.7;
			font-weight:bold;
		}



		input[type="button"],
        #equal {
            width: 80px;
            height: 80px;
            display: block;
            float: left;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            background-color: #eee;
            border: 0;
            border-bottom: 1px solid #bbb;
        }

        input[type="button"]:hover,
        #equal:hover {
            cursor: pointer;
            background-color: #ddd;
        }

        input[type="button"]:active,
        #equal:active {
            cursor: pointer;
            background-color: #bbb;
        }

        input:focus {
            box-shadow: 0;
            outline: 0;
            background-color: #eee;
        }

.sql-inter-dow-b2{
            position: absolute;
			bottom:25px;
			right: 10px;
}


.sql-inter-dow-b2 .btn{
      padding: 1.55rem;
}

