<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-child nav-icon"></i>
      <p>
        {{ _('Payroll') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'payroll:employee' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Empleados</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'payroll:department' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Departamentos</p>
        </a>
      </li>
    </ul>
  </li>