<!--<div class="modal fade show" id="modal-danger" style="display: block; padding-right: 12px;" aria-modal="true">-->
<div class="modal fade show" id="modal-sm" style="display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">{{ title }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="small text-justify">{{ delete_message|safe }}</p>
            <p class="small text-justify">{{ _('If you wish to continue press <u>"Delete"</u>, keep in mind that this action is irreversible.') }}</p>
            <p class="small text-justify">{{ _('Press <u>"Cancel"</u> to cancel the action.') }}</p>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
            <form method="post" role="form" action="{% url action_url object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-danger">{{ _('Delete') }}</button>
            </form>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
