{% extends "base/dashboard.html" %}
{% load static %}
{% load erp_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/extensions/Buttons/css/buttons.dataTables.min.css' %}">
{% endblock %}
{% block content %}
<div class="row" style="padding:5px;">
    <div class="card card-outline lg col-12">
        <div class="card-header">
            <a title=" {{ _('Create') }}" href="{% url add_url %}" class="btn btn-light"><i class="fa fa-plus"></i></a>
            {% if  web_parameter.show_btn_export == 'True' %}
            <a title=" {{ _('Create') }}" href="{% url add_url %}" class="btn btn-light"><i class="fa fa-file-excel"></i></a>
            {% endif %}
            {% if  web_parameter.show_btn_import == 'True' %}
             <a title=" {{ _('Import') }}" href="{% url add_url %}" class="btn btn-light"><i class="fas fa-upload"></i></i></a>
            {% endif %}
            {% if  web_parameter.show_btn_mass == 'True' %}
            <a title=" {{ _('Massive Edition') }}" href="{% url add_url %}" class="btn btn-light"><i class="fa fa-exclamation"></i></a>
            {% endif %}
        </div>

        <style type="text/css">

        	.note-ul {
		        	font-family:arial,sans-serif;
					  font-size:100%;
					  color:#fff;
				}

		   .note-ul,li{
			  list-style:none;
			}
			.note-ul{
			  overflow:hidden;
			}
			.note-ul li{
			  margin:1em;
			  float:left;
			}
			.note-ul li a{
			  text-decoration:none;
			  color:#000;
			  
			  display:block;
			  height:15em;
			  width:15em;
			  padding:1em;
			  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
			  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
			  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
			}
			.note-ul li h2{
			  font-size:140%;
			  font-weight:bold;
			  padding-bottom:10px;
			}
			.note-ul li p{
			  font-family:"Reenie Beanie",arial,sans-serif;
			}
			       </style>

        <div class="card-body">
		           <ul class="note-ul">
		           	{% for object in object_list %}
				    <li>
				      <a style="background:{{ object.color }};"href="{% url detail_url object.pk %}">
				        <h2 style="padding-bottom: 0px;">{{ object.name }}</h2><span style="font-size:0.7rem; opacity: 0.5;">{{ object.fc }}</span>
				        <p>{{ object.note }}</p>
				      </a>
				    </li>
				    {% endfor %}
		  		</ul>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'plugins/datatables/jquery.dataTables.js'%}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.flash.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.html5.min.js'%}"></script>
<!--
<script src="{% static 'plugins/datatables/extensions/Buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/pdfmake/pdfmake.min.js'%}"></script>
<script src="{% static 'plugins/datatables/extensions/pdfmake/vfs_fonts.js'%}"></script>
-->
<script>
    $(function () {
        $("#list_table").DataTable({
            "lengthMenu": [[50, 100, 200, -1], [ 50, 100, 200, "All"]]
        });
    });
    $('[data-row-location]').click(function () {
        window.location = $(this).data('rowLocation');
    });
</script>
{% endblock %}