{% extends 'base/dashboard.html' %}
{% load staticfiles %}
{% block content %}
<section class="content">
  <div style="margin-top: 20px;"></div>
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-12">
              <blockquote class="quote-success mt-0">
                  <h5>OK!</h5>
                  <p>Se ha ejecutado Correctamente</p>
              </blockquote>
          </div>
          </div>
      </div>
  </section>
{% endblock %}