<ul class="timeline">
  <li>
    <!-- timeline icon -->
    <i class="fas fa-edit fa-log"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> <span style="font-size:0.7rem;">{{ object.fm }}</span> </span>
      <h3 class="timeline-header"><a href="#" class="log-a" style="color:#ADB5BD;">Modify</a> ...</h3>
      <div class="timeline-body">
        <span style="color:#ADB5BD;"><b>User: {{ object.um }}</b> ,</span> Date: {{ object.fm }}
      </div>
    </div>
  </li>
  <li>
    <!-- timeline icon -->
    <i class="fas fa-home fa-log"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> <span style="font-size:0.7rem;">{{ object.fc }}</span> </span>
      <h3 class="timeline-header"><a href="#" class="log-a" style="color:#ADB5BD;">Create</a> ...</h3>
      <div class="timeline-body">
        <span style="color:#ADB5BD;"><b>User: {{ object.uc }}</b> ,</span>  Date: {{ object.fc }}
      </div>
    </div>
  </li>
</ul>