{% extends "base/dashboard.html" %}
{% block content %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                    </div><!-- /.col -->
                    <div class="col-md-6">
                        <!-- Profile Image -->
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal" action="{% url 'PyUser:change-password' %}" method="post" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>{{ _('Actual Password') }}</label>
                                        <div class="input-group">
                                            <input type="password" name="old_password" class="form-control" id="id_old_password" required placeholder="{{ _('Enter the actual password') }}" autofocus>
                                            <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                    </div>
                                    </div><!-- /.input group -->
                                    <div class="form-group">
                                        <label>{{ _('New Password') }}</label>
                                        <div class="input-group">
                                            <input type="password" name="new_password1" class="form-control" id="id_new_password1" required placeholder="{{ _('Enter the new password') }}" autofocus>
                                            <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                    </div>
                                    </div><!-- /.input group -->
                                    <div class="form-group">
                                        <label>{{ _('Retype the new password') }}</label>
                                        <div class="input-group">
                                            <input type="password" name="new_password2" class="form-control" id="id_new_password2" required placeholder="{{ _('Retype the new password') }}" autofocus>
                                            <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                        </div>
                                    </div>
                                    </div><!-- /.input group -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-danger float-right">{{ _('Submit') }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.card-body -->
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
{% endblock content %}

{% block scripts %}
    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options.closeButton = true
            toastr.options.timeOut = 10000
            toastr.options.preventDuplicates = true
            toastr.options.progressBar = true

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        toastr.error("{{ error|escape }}")
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    toastr.error("{{ error|escape }}")
                {% endfor %}
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'debug' %}toastr.info("{{ message }}"){% endif %}
                    {% if message.tags == 'info' %}toastr.info("{{ message }}"){% endif %}
                    {% if message.tags == 'success' %}toastr.success("{{ message }}"){% endif %}
                    {% if message.tags == 'warning' %}toastr.warning("{{ message }}"){% endif %}
                    {% if message.tags == 'error' %}toastr.error("{{ message }}"){% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}