<!-- Punto Venta Begin -->
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-desktop nav-icon"></i>
      <p>
         {{ _('POS') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'pos:pos' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Cajas</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'pos:pos-index' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>POS</p>
        </a>
      </li>

    </ul>
  </li>
<!-- Inventario End -->