{% load static %}
{% load erp_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset ="UTF8">
  <title> {{ user|get_company_name }} | {{ user|get_company_slogan }} </title>
  <meta name="viewport" content="width = device-width">

  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/pos.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{% static '.' %}/dist/favicon.png" type="image/x-icon"/>

</head>
 <body class="django-background">

 <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <img src="{{ MEDIA_URL }}{{ user|get_company_logo }}" alt="PyERP"  height="30px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">{{ user }}</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-wifi"></i></button>
            <a class="btn btn-outline-danger my-2 my-sm-0 ml-1" href="#" data-toggle="modal" data-target="#logoutModalPos"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>{{ _('Close') }}</a>
          </form>
        </div>
      </nav>
    </header>
  
  <div class="my-container">
       <div class="row topbar">
           <div class="col-sm-4 sql back-gray">
               <div class="sql-inter">
                    <div class="sql-inter-sup" style="margin : 10px;">
                        <div class="row">
                        <div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">1</a>
                                  </li>
                            </ul>
                        </div>
                        <div style="margin-left:10px;">
                            <a class="btn btn-primary" href="">+</a>
                            <a class="btn btn-danger" href="">-</a>
                        </div>

                        </div>
                    </div>
                    <div class="sql-inter-dow">

                        <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                      <div class="white-area">
                                          <p>PAN $2.000 x 2 = $4.000</p>
                                           <p>COCA COLA $2.000 x 2 = $4.000</p>
                                          <hr>
                                           <h3><b>TOTAL = $4.000</b></h3>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                       </div>

                        <div class="sql-inter-dow-b">

                            <form name="calculator">
                                <input class="inputs" type="button" value="1">
                                <input class="inputs" type="button" value="2">
                                <input class="inputs" type="button" value="3">
                                <input class="operators" type="button" value="4">
                                <input class="inputs" type="button" value="5">
                                <input class="inputs" type="button" value="6">
                                <input class="inputs" type="button" value="7">
                                <input class="operators" type="button" value="8">
                                <input class="inputs" type="button" value="9">
                                <input class="inputs" type="button" value=".">
                                <input class="inputs" type="button" value="0">
                                <input id="backspace" type="button" value="&lArr;">
                                <input id="clear" type="button" value="c">
                            </form>

                         </div>

                        <div class="sql-inter-dow-b2" >
                            <button class="btn btn-primary">CLIENTE</button>
                            <button class="btn btn-success">PAGAR</button>
                         </div>


                    </div>
               </div>

           </div>
           <div class="col-sm-8 sql">
                <div class="sql-inter">
                    <div class="sql-inter-sup">
                        <a class="btn btn-primary" href=""><i class="fa fa-home"></i></a>
                        <a class="btn btn-primary" href=""><i class="fa fa-angle-double-right"></i> LIQ</a>
                        <a class="btn btn-success" href=""><i class="fa fa-angle-double-right"></i> DRINK</a>

                        <div class="input-group stylish-input-group" style="margin-top:10px;">
                          <input type="text" id="searchProd" class="form-control" placeholder="Search">
                          <span class="input-group-addon"/>
                    </div>
                    <div class="sql-inter-dow">
                        <a href="" class="product">
                            <img src="{% static '/p1.jpg' %}" alt="">
                            <div class="text-bot">$ 1000.00</div>
                        </a>
                        <a href="" class="product">
                            <img src="{% static '/p2.jpg' %}" alt="">
                            <div class="text-bot">$ 1000.00</div>
                        </a>
                    </div>
               </div>
           </div>
       </div>
  </div>
       
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 </body>


<!-- Logout Modal-->
  <div class="modal fade" id="logoutModalPos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ _('Exit') }}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">{{ _('Select close if you want to leave the assignment.?') }}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ _('Cancel') }}</button>
          <a class="btn btn-primary" href="{% url 'base:home' %}">{{ _('Close') }}</a>
        </div>
      </div>
    </div>
  </div>

</html>