<li class="nav-item has-treeview" >
    <a href="#" class="nav-link">
      <i class="fa fa-tasks nav-icon"></i>
      <p>
        CRM
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
        <a href="{% url 'crm:dashboard-crm'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Tablero</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'crm:lead'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Oportunidades</p>
        </a>
      </li>

        <li class="nav-item">
        <a href="{% url 'crm:stage'  %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Etapas</p>
        </a>
      </li>
    </ul>
</li>
