{% load humanize static erp_tags %}
{% include 'base/formset_body.html' %}
{% block scripts %}
<script type="text/javascript">
  /* ========================= Add Accounting Note ========================= */
  $('#add-row').click(function() {
    var form_idx = $('#id_{{ formset.prefix }}-TOTAL_FORMS').val();
    form_cloned = $('<div>').append($('.formset-template').clone()).html().replace(/formset-template/g, '');
    form_cloned = form_cloned.replace(/__prefix__/g, form_idx);
    $('#formset_table tbody').append(form_cloned);
    $('#{{ formset.prefix }}-' + form_idx).show();
    $('#id_{{ formset.prefix }}-TOTAL_FORMS').val(parseInt(form_idx) + 1);

    $("#formset_table tbody tr:visible").each(function (index) {
      $(this).css("background-color", !!(index & 1)? "inherit" : "rgba(0,0,0,.05");
    });

    var datepickerDict = {};
    var isBootstrap4 = $.fn.collapse.Constructor.VERSION.split('.').shift() == "4";
    $("[dp_config]:not([disabled])").each(function (i, element) {
        var $element = $(element), data = {};
        try {
            data = JSON.parse($element.attr('dp_config'));
        }
        catch (x) { }
        if (data.id && data.options) {
            data.$element = $element.datetimepicker(data.options);
            data.datepickerdata = $element.data("DateTimePicker");
            datepickerDict[data.id] = data;
            data.$element.next('.input-group-addon').on('click', function(){
                data.datepickerdata.show();
            });
            if(isBootstrap4){
                data.$element.on("dp.show", function (e) {
                    $('.collapse.in').addClass('show');
                });
            }
        }
    });
    if(isBootstrap4) {
        $('body').on('show.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).addClass('in');
        });
        $('body').on('hidden.bs.collapse','.bootstrap-datetimepicker-widget .collapse',function(e){
            $(e.target).removeClass('in');
        });
    }
  });


  /* ======================= Remove Accounting Note ======================= */
  $(document).on('click', '[id^="{{ formset.prefix }}-DELETE-"]', function(e){
    var id = '#id_' + $(this).closest("tr").attr('id') + '-DELETE';
    $(id).val("true")
    $(this).closest("tr").hide();

    $("#formset_table tbody tr:visible").each(function (index) {
      $(this).css("background-color", !!(index & 1)? "inherit" : "rgba(0,0,0,.05");
    });
  });


  /* ======================= Find Product & Taxes ======================= */
  $(document).on('change', '[id^="id_{{ formset.prefix }}-"][id$="-product_id"]', function(event){
    var id = '#id_' + $(this).closest("tr").attr('id');
    FindProduct(event, id);
  });

  function FindProduct(event, id){
    var selected_element = $(event.currentTarget);
    var select_val = selected_element.val();
    var url = "{% url 'PyInvoice:ajax_load_product' %}";
    var url_tax = "{% url 'PyInvoice:ajax_load_tax' %}";
    var tax = [];
    var taxes;

    /* Load product default values */
    $.ajax({
      async: false,
      url: url,
      data: {
        'product': select_val
      },
      success: function (data) {
        var product = JSON.parse(data['product']);
        var object = product[0]
        var product_fields = object.fields;
        taxes = product_fields.tax;

        $(id + '-description').val(product_fields.name);
        $(id + '-uom_id').val(product_fields.uom_id);
        $(id + '-price').val(product_fields.price);
      }
    });

    /* Load line taxes*/
    var taxSelect = $(id + '-tax_id');
    taxSelect.val(null).trigger('change');
    $.ajax({
      url: url_tax,
      data: {
        'tax': taxes,
      },
    }).then(function (data) {
      var data_tax = JSON.parse(data['tax']);
      var dataItems = "";
      $.each(data_tax, function (index, itemData) {
        // create the option and append to Select2
        var option = new Option(itemData.fields.name, itemData.pk, true, true);
        taxSelect.append(option).trigger('change');
      });
    });

  }

  $(document).ready(function(){
    /* Default seller when doesn't exist */
    var sellerSelect = $('#id_seller_id');
    if (!sellerSelect.val()){
      var option = new Option('{{ request.user.partner_id }}', {{ request.user.partner_id.pk }}, true, true);
      sellerSelect.append(option).trigger('change');
    }
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("Net Amount or Affection:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_untaxed">$ {{ object.amount_untaxed|intcomma }}</div></div>');
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("Exempt Amount:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_exempt">$ {{ object.amount_exempt|intcomma }}</div></div>');
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("IVA:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_tax_iva">$ {{ object.amount_tax_iva|intcomma }}</div></div>');
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("Other taxes:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_tax_other">$ {{ object.amount_tax_other|intcomma }}</div></div>');
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("Total taxes:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_tax_total">$ {{ object.amount_tax_total|intcomma  }}</div></div>');
    $('#detail-footer').append('<hr class="style1">');
    $('#detail-footer').append('<div class="row"><div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _("Total:") }}</div><div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="t_amount_total">$ {{ object.amount_total|intcomma }}</div></div>');
    $('#detail-footer').append('<hr class="style1">');
    $('#detail-footer').append('<div class="form-group row"><label for="id_note" class="col-1 col-form-label">Note</label><div class="col-11"><textarea name="note" cols="40" rows="1" class="form-control" placeholder="Invoice notes ..." style="width: 100%" id="id_note"></textarea></div></div>');
  });
</script>
{% endblock %}
