<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
      <i class="fa fa-binoculars nav-icon"></i>
      <p>
        {{ _('Marketing') }}
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{% url 'base:channels' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Channels') }}</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'marketing:campaign' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Campaigns') }}</p>
        </a>
      </li>
        <li class="nav-item">
        <a href="{% url 'marketing:mform' %}" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>{{ _('Forms') }}</p>
        </a>
      </li>
    </ul>
  </li>
